name: Test
"on":
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
jobs:
  test_matrix:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_version:
          - 20
          - 22
          - 24
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      - name: Use Node.js ${{ matrix.node_version }}
        uses: actions/setup-node@v6
        with:
          cache: npm
          node-version: ${{ matrix.node_version }}
      - name: Install
        run: npm ci
      - name: Test
        run: npm test
  test:
    runs-on: ubuntu-latest
    needs: test_matrix
    steps:
      - run: exit 1
        if: ${{ needs.test_matrix.result != 'success' }}
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      - run: npm ci
      - run: npm run lint
      - name: Test TypeScript
        run: npm run test:typescript
    if: ${{ always() }}
